{% extends 'base.html' %}

{% block body %}
<br>
<section class="home-about-area section-gap">
<div class = "container">
  <h2>Attempts</h2> <br>
  <p>Click on each individual attempt to view the statistics or to edit them.</p>
  <table class="table">
    <thead class="thead-light" style = "border-radius: 10px;">
      <tr>
        <th scope="col">AttemptId</th>
        <th scope="col">LevelId</th>
        <th scope="col">Score</th>
        <th scope="col">Time</th>
        <th scope="col">UserId</th>
      </tr>
    </thead>
    <tbody id = "attempts_content">

    </tbody>
  </table>
  <p>Number of attempts: <span id = "child_count" value="0"></span></p>
  <button onClick="addAttempt()" data-target="#addAttemptModal" data-toggle="modal">Add Attempt</button>
  <h6 id = "debug" style = "display:none; text-align: center; color: green;">Hi</h6>
</div>
</section>


<!-- Modal -->
<div class="modal fade" id="attemptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle2">Attempt Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Attempt Statistics</h6>
    <p id ="attemptStats"></p>
    <h6>Edit Attempt</h6>
    AttemptId: <input id = "attemptIdEdit" class="form-control" type="text" placeholder="Default input">
    LevelId: <input id = "levelIdEdit" class="form-control" type="text" placeholder="Default input">
    Score: <input id = "scoreEdit" class="form-control" type="text" placeholder="Default input">
    Time: <input id = "timeEdit" class="form-control" type="text" placeholder="Default input">
    UserId: <input id = "userIdEdit" class="form-control" type="text" placeholder="Default input">
  </div>
  <h6 id = "changesText" style = "display:none; text-align: center; color: green;">Changes saved!</h6>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button id = "deleteButton" value = "" type="button" class="btn btn-secondary" onclick="deleteAttempt(this.value)">Delete</button>
    <button id = "saveButton" value = "" type="button" class="btn btn-primary" onclick = "saveAttempt(this.value)">Save changes</button>
  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addAttemptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitleAdd">Add Attempt</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Add Attempt</h6>
    AttemptId: <input id = "attemptIdAdd" class="form-control" type="text" placeholder="Default input">
    LevelId: <input id = "levelIdAdd" class="form-control" type="text" placeholder="Default input">
    Score: <input id = "scoreAdd" class="form-control" type="text" placeholder="Default input">
    Time: <input id = "timeAdd" class="form-control" type="text" placeholder="Default input">
    UserId: <input id = "userIdAdd" class="form-control" type="text" placeholder="Default input">
  </div>
  <h6 id = "changesTextAdd" style = "display:none; text-align: center; color: green;">Attempt Added!</h6>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button id = "saveButton2" value = "" type="button" class="btn btn-primary" onclick = "saveNewAttempt(this.value)">Add Attempt</button>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCbrmnFV_4UBbmFyJIhqIM_J5QDbpGkgRo",
    authDomain: "marvellous-kittens.firebaseapp.com",
    databaseURL: "https://marvellous-kittens.firebaseio.com",
    projectId: "marvellous-kittens",
    storageBucket: "marvellous-kittens.appspot.com",
    messagingSenderId: "942471948637",
    appId: "1:942471948637:web:29eec0236cd1e64d18e0b4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var database = firebase.database();
  var tbody = document.getElementById("attempts_content");

  // Initialise table
  database.ref('Attempts').on('value', function(snapshot) {
    tbody.innerHTML = "";
    snapshot.forEach(function(attempt) {
      var tr = document.createElement("tr");

      tr.setAttribute("class", "dataRow");
      tr.setAttribute("id", attempt.key);
      tr.setAttribute("data-toggle", "modal");
      tr.setAttribute("data-target", "#attemptModal");
      tr.setAttribute("onClick", "setAttemptModal(this.id)")

      var td1 = document.createElement("td")
      td1.innerHTML = attempt.val().attemptId
      var td2 = document.createElement("td");
      td2.innerHTML = attempt.val().levelId;
      var td3 = document.createElement("td");
      td3.innerHTML = attempt.val().score;
      var td4 = document.createElement("td");
      td4.innerHTML = attempt.val().time;
      var td5 = document.createElement("td");
      td5.innerHTML = attempt.val().userId;

      tr.appendChild(td1);
      tr.appendChild(td2);
      tr.appendChild(td3);
      tr.appendChild(td4);
      tr.appendChild(td5);
      tbody.appendChild(tr);
    })
  });

  function setAttemptModal(id) {
      document.getElementById("changesText").style.display = "none";
      var content = document.getElementById("attemptStats");
      database.ref('Attempts/' + id).once('value', function(snapshot) {

      var attemptIdEdit = document.getElementById("attemptIdEdit");
      var levelIdEdit = document.getElementById("levelIdEdit");
      var scoreEdit = document.getElementById("scoreEdit");
      var timeEdit = document.getElementById("timeEdit");
      var userIdEdit = document.getElementById("userEdit");

      attemptIdEdit.setAttribute("value", snapshot.val().attemptId);
      levelIdEdit.setAttribute("value", snapshot.val().levelId);
      scoreEdit.setAttribute("value", snapshot.val().score);
      timeEdit.setAttribute("value", snapshot.val().time);
      userIdEdit.setAttribute("value", snapshot.val().userId);

      document.getElementById("saveButton").setAttribute("value", id);
    })
  };
   function deleteAttempt(id){
      database.ref("Attempts/").child(id).remove();
      document.getElementById("removeAttemptText").style.display = "block";
      document.getElementById("attemptIdEdit").value = "";
      document.getElementById("levelIdEdit").value = "";
      document.getElementById("scoreEdit").value = "";
      document.getElementById("timeEdit").value = "";
      document.getElementById("userIdEdit").value = "";
  };
  function saveAttempt(id) {
    console.log(id);

    var attemptIdEdit = documentation.getElementById("attemptIdEdit").value;
    var levelIdEdit = document.getElementById("levelIdEdit").value;
    var scoreEdit = document.getElementById("scoreEdit").value;
    var timeEdit = document.getElementById("timeEdit").value;
    var userIdEdit = document.getElementById("userIdEdit").value;

    database.ref("Attempts/").child(id).update({
        attemptId: attemptIdEdit,
        levelId: levelIdEdit,
        score: scoreEdit,
        time: timeEdit,
        userId: userIdEdit,
      })
      document.getElementById("changesText").style.display = "block";

    }
  function saveNewAttempt(id){
      document.getElementById("changesTextAdd").style.display = "none";
      var attemptIdAdd = document.getElementById("attemptIdAdd");
      var levelIdAdd = document.getElementById("levelIdAdd");
      var scoreAdd = document.getElementById("scoreAdd");
      var timeAdd = document.getElementById("timeAdd");
      var userIdAdd = document.getElementById("userIdAdd");
      document.getElementById("saveButton2").setAttribute("value", id);

      database.ref("Attempts/").child(id).set({
          attemptId: attemptIdAdd,
          levelId: levelIdAdd,
          score: scoreAdd,
          time: timeAdd,
          userId: userIdAdd
      });
      document.getElementById("changesText").style.display = "block";
      document.getElementById("attemptIdAdd").value = "";
      document.getElementById("levelIdAdd").value = "";
      document.getElementById("scoreAdd").value = "";
      document.getElementById("timeAdd").value = "";
      document.getElementById("userIdAdd").value = "";
  }
  function addAttempt(){

  }
</script>
{% endblock %}

{% block style %}
<style>
  .dataRow:hover {
    background-color:#dddddd;
  }
  .table {
    border-radius: 20px;
  }
</style>
{% endblock %}
</html>