{% extends 'base.html' %}

{% block body %}
<br>
<section class="home-about-area section-gap">
<div class = "container">
  <h2>Levels</h2> <br>
  <p>Click on each individual level to view or edit them. &nbsp &nbsp &nbsp &nbsp<button onClick="addLevel()" data-target="#addLevelModal" data-toggle="modal">Add Level</button></p>
  <table class="table">
    <thead class="thead-light" style = "border-radius: 10px;">
      <tr>
        <th scope="col">Level</th>
        <th scope="col">Boss</th>
        <th scope="col">Question 1</th>
        <th scope="col">Question 2</th>
        <th scope="col">Question 3</th>
        <th scope="col">Question 4</th>
        <th scope="col">Question 5</th>
        <th scope="col">Custom Code</th>
      </tr>
    </thead>
    <tbody id = "levels_content">

    </tbody>
  </table>
  <p>Number of Levels: <span id = "child_count" value="0"></span></p>
  <button onClick="addLevel()" data-target="#addLevelModal" data-toggle="modal">Add Level</button>
</div>
</section>


<!-- Modal -->
<div class="modal fade" id="levelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Level Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<h6>Question Statistics</h6>-->
    <!--<p id ="levelStats"></p>-->
    <h6>Edit Level</h6>
    Level: <input id = "lvEdit" class="form-control" type="text" placeholder="Default input">
    <!--Correct Ans: <input id = "correctEdit" class="form-control" type="text" placeholder="Default input">-->
    Boss: <input id = "bossEdit" class="form-control" type="text" placeholder="Default input">
    Question A: <input id = "qnAEdit" class="form-control" type="text" placeholder="Default input">
    Question B: <input id = "qnBEdit" class="form-control" type="text" placeholder="Default input">
    Question C: <input id = "qnCEdit" class="form-control" type="text" placeholder="Default input">
    Question D: <input id = "qnDEdit" class="form-control" type="text" placeholder="Default input">
    Question E: <input id = "qnEEdit" class="form-control" type="text" placeholder="Default input">
    Custom Code: <input id = "codeEdit" class="form-control" type="text" placeholder="Default input">
  </div>
  <h6 id = "changesText" style = "display:none; text-align: center; color: green;">Changes saved!</h6>
  <h6 id = "removeLevelText" style = "display:none; text-align: center; color: green;">Level removed!</h6>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button id = "deleteButton" value = "" type="button" class="btn btn-secondary" onclick="deleteLevel(this.value)">Delete</button>
    <button id = "saveButton" value = "" type="button" class="btn btn-primary" onclick = "saveLevel(this.value)">Save changes</button>
  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addLevelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Add Level</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6>Add Level</h6>
    Level: <input id = "lvAdd" class="form-control" type="text" placeholder="Default input">
    Boss: <input id = "bossAdd" class="form-control" type="text" placeholder="Default input">
    Question A: <input id = "qnAAdd" class="form-control" type="text" placeholder="Default input">
    Question B: <input id = "qnBAdd" class="form-control" type="text" placeholder="Default input">
    Question C: <input id = "qnCAdd" class="form-control" type="text" placeholder="Default input">
    Question D: <input id = "qnDAdd" class="form-control" type="text" placeholder="Default input">
    Question E: <input id = "qnEAdd" class="form-control" type="text" placeholder="Default input">
    Custom Code: <input id = "codeAdd" class="form-control" type="text" placeholder="Default input">
    <!--Correct Ans: <input id = "correctAdd" class="form-control" type="text" placeholder="Default input">-->
    <!--Difficulty: <input id = "difficultyAdd" class="form-control" type="text" placeholder="Default input">-->
  </div>
  <div class="modal-footer">
    <h6 id = "changesTextAdd" style = "display:none; text-align: center; color: green;">Level Added!</h6>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button id = "saveButton2" value = "" type="button" class="btn btn-primary" onclick = "saveNewLevel(this.value)">Save changes</button>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCbrmnFV_4UBbmFyJIhqIM_J5QDbpGkgRo",
    authDomain: "marvellous-kittens.firebaseapp.com",
    databaseURL: "https://marvellous-kittens.firebaseio.com",
    projectId: "marvellous-kittens",
    storageBucket: "marvellous-kittens.appspot.com",
    messagingSenderId: "942471948637",
    appId: "1:942471948637:web:29eec0236cd1e64d18e0b4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var database = firebase.database();

  var tbody = document.getElementById("levels_content");

  // Initialise table
  database.ref('Levels').on('value', function(snapshot) {
    tbody.innerHTML = "";
    document.getElementById("child_count").innerHTML = "0";
    snapshot.forEach(function(lv) {
      var cur = document.getElementById("child_count").innerHTML;
      document.getElementById("child_count").innerHTML = parseInt(cur) + 1;
      var tr = document.createElement("tr");
      tr.setAttribute("class", "dataRow");
      tr.setAttribute("id", lv.key);
      tr.setAttribute("data-toggle", "modal");
      tr.setAttribute("data-target", "#levelModal");
      tr.setAttribute("onClick", "setLevelModal(this.id)")
      var td1 = document.createElement("td");
      td1.innerHTML = lv.val().lv;
      var td2 = document.createElement("td");
      td2.innerHTML = lv.val().boss;
      var td3 = document.createElement("td");
      td3.innerHTML = lv.val().qnA;
      var td4 = document.createElement("td");
      td4.innerHTML = lv.val().qnB;
      var td5 = document.createElement("td");
      td5.innerHTML = lv.val().qnC;
      var td6 = document.createElement("td");
      td6.innerHTML = lv.val().qnD;
      var td7 = document.createElement("td");
      td7.innerHTML = lv.val().qnE;
      var td8 = document.createElement("td");
      td8.innerHTML = lv.val().code;
      tr.appendChild(td1);
      tr.appendChild(td2);
      tr.appendChild(td3);
      tr.appendChild(td4);
      tr.appendChild(td5);
      tr.appendChild(td6);
      tr.appendChild(td7);
      tr.appendChild(td8);
      tbody.appendChild(tr);
    })
  });

  function setLevelModal(id) {
    document.getElementById("changesText").style.display = "none";
    document.getElementById("removeLevelText").style.display = "none";
    var content = document.getElementById("questionStats");
    database.ref('Levels/' + id).once('value', function(snapshot) {
      console.log(snapshot.val());
      <!--var answers = [snapshot.val().A, snapshot.val().B, snapshot.val().C, snapshot.val().D];-->
      <!--var totalAns = 0;-->
      <!--for (var i = 0; i < answers.length; i++) {-->
        <!--totalAns += answers[i];-->
      <!--}-->
      <!--var correctAns = (answers[snapshot.val().correct - 1] / totalAns) * 100;-->
      <!--var a_percent = (snapshot.val().A / totalAns) * 100;-->
      <!--var b_percent = (snapshot.val().B / totalAns) * 100;-->
      <!--var c_percent = (snapshot.val().C / totalAns) * 100;-->
      <!--var d_percent = (snapshot.val().D / totalAns) * 100;-->
      <!--console.log(answers );-->

      <!--var statsString = "";-->
      <!--if (totalAns != 0) {-->
        <!--statsString = correctAns.toString() + "% (" + answers[snapshot.val().correct - 1].toString() + "/" + totalAns.toString() + ") of the students have gotten this question correct<br>";-->
        <!--statsString += a_percent.toString() + "% (" + snapshot.val().A.toString() + "/" + totalAns.toString() + ") of the students answered '" + snapshot.val().qnA + "'<br>";-->
        <!--statsString += b_percent.toString() + "% (" + snapshot.val().B.toString() + "/" + totalAns.toString() + ") of the students answered '" + snapshot.val().qnB + "'<br>";-->
        <!--statsString += c_percent.toString() + "% (" + snapshot.val().C.toString() + "/" + totalAns.toString() + ") of the students answered '" + snapshot.val().qnC + "'<br>";-->
        <!--statsString += d_percent.toString() + "% (" + snapshot.val().D.toString() + "/" + totalAns.toString() + ") of the students answered '" + snapshot.val().qnD + "'<br>";-->
      <!--} else {-->
        <!--statsString = "No students have answered this question yet";-->
      <!--}-->
      <!--content.innerHTML = statsString;-->

      var lvEdit = document.getElementById("lvEdit");
      var bossEdit = document.getElementById("bossEdit");
      var qnAEdit = document.getElementById("qnAEdit");
      var qnBEdit = document.getElementById("qnBEdit");
      var qnCEdit = document.getElementById("qnCEdit");
      var qnDEdit = document.getElementById("qnDEdit");
      var qnEEdit = document.getElementById("qnEEdit");
      var codeEdit = document.getElementById("codeEdit");

      lvEdit.value = snapshot.val().lv;
      bossEdit.value = snapshot.val().boss;
      qnAEdit.value = snapshot.val().qnA;
      qnBEdit.value = snapshot.val().qnB;
      qnCEdit.value = snapshot.val().qnC;
      qnDEdit.value = snapshot.val().qnD;
      qnEEdit.value = snapshot.val().qnE;
      codeEdit.value = snapshot.val().code;
      document.getElementById("deleteButton").setAttribute("value", id);
      document.getElementById("saveButton").setAttribute("value", id);
    })
  };

  function saveLevel(id) {
    console.log(id);
    var lvEdit = document.getElementById("lvEdit").value;
    var bossEdit = document.getElementById("bossEdit").value;
    var qnAEdit = document.getElementById("qnAEdit").value;
    var qnBEdit = document.getElementById("qnBEdit").value;
    var qnCEdit = document.getElementById("qnCEdit").value;
    var qnDEdit = document.getElementById("qnDEdit").value;
    var qnEEdit = document.getElementById("qnEEdit").value;
    var codeEdit = document.getElementById("codeEdit").value;

    database.ref("Levels/").child(id).update({
        lv: lvEdit,
        boss: bossEdit,
        qnA: qnAEdit,
        qnB: qnBEdit,
        qnC: qnCEdit,
        qnD: qnDEdit,
        qnE: qnEEdit,
        code: codeEdit,
      })
      document.getElementById("changesText").style.display = "block";

    };

    function deleteLevel(id){
    database.ref("Levels/").child(id).remove();
    document.getElementById("removeLevelText").style.display = "block";
    document.getElementById("lvEdit").value = "";
    document.getElementById("bossEdit").value = "";
    document.getElementById("qnAEdit").value = "";
    document.getElementById("qnBEdit").value = "";
    document.getElementById("qnCEdit").value = "";
    document.getElementById("qnDEdit").value = "";
    document.getElementById("qnEEdit").value = "";
    document.getElementById("codeEdit").value = "";
};

function saveNewLevel(id) {
      console.log(id);
      var lvAdd = document.getElementById("lvAdd").value;
      var bossAdd = document.getElementById("bossAdd").value;
      var qnAAdd = document.getElementById("qnAAdd").value;
      var qnBAdd = document.getElementById("qnBAdd").value;
      var qnCAdd = document.getElementById("qnCAdd").value;
      var qnDAdd = document.getElementById("qnDAdd").value;
      var qnEAdd = document.getElementById("qnEAdd").value;
      var codeAdd = document.getElementById("codeAdd").value;

      database.ref("Levels/").push({
          lv: lvAdd,
          boss: bossAdd,
          qnA: qnAAdd,
          qnB: qnBAdd,
          qnC: qnCAdd,
          qnD: qnDAdd,
          qnE: qnEAdd,
          code: codeAdd,
        });

        document.getElementById("changesTextAdd").style.display = "block";
        document.getElementById("lvAdd").value = "";
        document.getElementById("bossAdd").value = "";
        document.getElementById("qnAAdd").value = "";
        document.getElementById("qnBAdd").value = "";
        document.getElementById("qnCAdd").value = "";
        document.getElementById("qnDAdd").value = "";
        document.getElementById("qnEAdd").value = "";
        document.getElementById("codeAdd").value = "";
    };



    function addLevel(){


        document.getElementById("changesTextAdd").style.display = "none";
        var lvAdd = document.getElementById("lvAdd");
        var bossAdd = document.getElementById("bossAdd");
        var qnAAdd = document.getElementById("qnAAdd");
        var qnBAdd = document.getElementById("qnBAdd");
        var qnCAdd = document.getElementById("qnCAdd");
        var qnDAdd = document.getElementById("qnDAdd");
        var qnEAdd = document.getElementById("qnEAdd");
        var codeAdd = document.getElementById("codeAdd");

        <!--document.getElementById("saveButton2").setAttribute("value", new_id);-->

    };

</script>
{% endblock %}

{% block style %}
<style>
  .dataRow:hover {
    background-color:#dddddd;
  }
  .table {
    border-radius: 20px;
  }
</style>
{% endblock %}
