{% extends 'base.html' %}

{% block body %}
<br>
<section class="home-about-area section-gap">
<div class = "container">
  <h2>Leaderboard</h2> <br>
  <p>Check out how your students are doing</p>
  <h4>Select the level</h4>
  <select class="form-control" id = "levels" onchange="populateLeaderboard(this)">
    <option disabled selected value> -- select an option -- </option>
  </select>
  <br>
  <table class="table">
    <thead class="thead-light" style = "border-radius: 10px;">
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Score</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody id = "leaderboard_content">

    </tbody>
  </table>
  <p id = "infoText"  style = "display:block;">No level selected</p>
</div>
</section>

{% endblock %}

{% block script %}



<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCbrmnFV_4UBbmFyJIhqIM_J5QDbpGkgRo",
    authDomain: "marvellous-kittens.firebaseapp.com",
    databaseURL: "https://marvellous-kittens.firebaseio.com",
    projectId: "marvellous-kittens",
    storageBucket: "marvellous-kittens.appspot.com",
    messagingSenderId: "942471948637",
    appId: "1:942471948637:web:29eec0236cd1e64d18e0b4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  var database = firebase.database();

  // Initialise options
  var select = document.getElementById("levels");
  database.ref('Levels').once('value', function(snapshot) {
    snapshot.forEach(function(lv) {
      var option = document.createElement("option");
      option.text = lv.val().lv;
      option.value = lv.val().code;
      select.appendChild(option);
    })
  });

function populateLeaderboard(sel) {
    var option = sel.options[sel.selectedIndex];
    var attemptList = []
    var query = database.ref('Attempts/')
    
    query.once('value').then(async function(snapshot) {
      if (option.text.includes("World")) {
        var split = option.text.split(" ");
        var worldId = split[1];
        var levelId = split[3];
        snapshot.forEach(function(a) {
          console.log(a.val().score);
          if (a.val().levelId == levelId && a.val().worldId == worldId) {
            attemptList.push(a);
          }
        })
      } else {
        snapshot.forEach(function(a) {
          if (a.val().levelId == option.value) {
            attemptList.push(a);
          }
        })
      }

      if (attemptList.length == 0) {
        document.getElementById("infoText").innerHTML = "There are no attempts for this level";
      }

      attemptList.sort((first, second) => (parseInt(first.val().score) < parseInt(second.val().score)) ? 1 : -1)
      var tbody = document.getElementById("leaderboard_content");
      tbody.innerHTML = "";
      for (var i = 0; i < attemptList.length && i < 10; i++) {
        var tr = document.createElement("tr");
        tr.id = attemptList[i].val().userId;
        var td_rank = (i + 1).toString();
        var td_score = attemptList[i].val().score;
        var td_name = "";
        var td1 = document.createElement("td");
        td1.innerHTML = td_rank;
        var td2 = document.createElement("td");
        td2.innerHTML = td_score;
        var td3 = document.createElement("td");
        td3.innerHTML = "";
        tr.appendChild(td1);
        tr.appendChild(td2);
        var userSnap = await database.ref('Users/' + attemptList[i].val().userId).once('value');
        td3.innerHTML = userSnap.val().usr;
        tr.appendChild(td3);
        tbody.appendChild(tr);
      }
    })

    document.getElementById("infoText").innerHTML = "End of Leaderboard List";

  }

 

</script>
{% endblock %}

{% block style %}
<style>
  .dataRow:hover {
    background-color:#dddddd;
  }
  .table {
    border-radius: 20px;
  }
</style>
{% endblock %}
